@model Common.Model.EmployeeLoginModel

@{
    ViewData["Title"] = "Login";
}



<div class="boxes">
    <img src="~/images/logo.png" style=" height:50px; margin-left: 40%;" alt="Avatar"><br><br>
    <h2>Log in</h2>
    <p>EMPLOYEE MANEGAMENT</p>
    <div class="inputBoxes">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EmpId" class="form-control" />
                <label>Employee ID</label>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
                <input class="buttonloginPage" type="submit" value="Log In" />
            <a style="text-decoration: none;" asp-controller="Employee" asp-action="Create" class="button2">Register</a>
        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





